{% extends 'base_foot.html' %}
{% load static %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <body>
    <div class="register_con">

        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>修改密码</h1>
                <a href="{% url 'login' %}">登录</a>
            </div>
            <div class="reg_form clearfix">
                <form action="" method="post" id="passwordfrom">
               {% csrf_token %}
                    <ul>
                        <li>
                            <label>用户名:</label>
                            <input type="text" name="user" id="password_user" value="">
                            <span class="passwod_error" >提示信息</span>
{#                                <span class="passwod_error_message" >提示错误</span>#}
                        </li>
                        <li>
                            <label>新密码:</label>
                            <input type="password" name="password" id="password_pw1" value="">
                            <span class="passwod_error" >提示信息</span>

                        </li>
                        <li>
                            <label>确认密码:</label>
                            <input type="password" name="password_confirmation" id="password_pw2" value="">
                            <span class="passwod_error" >提示信息</span>
                        </li>
                        <li class="reg_sub">
                            <input type="submit" value="修改密码" name="">
                        </li>
                    </ul>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
